# Playground files
pg_[0-9].py
pg_[0-9][0-9].py
pg.py

# macOS
**/.DS_Store

# JetBrians
**/.idea/*

# Jupyter Webapp save file folder
.ipynb_checkpoints/


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Files that julia seems to want to create:
**/.toml
*.toml

# Data folder I don't want the data to be uploaded to GitHub
data/